<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Anshul.Utilities" version="1.0.27.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="Refigure" version="1.0.13.0" targetFramework="net462" />
  <package id="ZoneLighting.Graphics" version="1.0.0" targetFramework="net461" />
  <package id="ZoneLighting.LightingControllerBase" version="1.0.1" targetFramework="net461" />
</packages>