<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ZoneLighting</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding *ngIf="this.zlmForm">
  <ion-grid>
    <ion-row>
      <ion-col align-items-center style="text-align: center;">
        <ion-card>
          <ion-card-content>
            <ion-card-title>
              ProgramSets
            </ion-card-title>
            <p>
              <ion-list>
                <ion-item padding *ngFor="let programSet of zlmForm.controls.programSets.controls">
                  <h2 (click)="toggleDetails(programSet)">
                    {{programSet.value.name}} <ion-icon [name]="!programSet.hideDetails ? 'ios-arrow-dropup' : 'ios-arrow-dropdown'" item-right></ion-icon>
                  </h2>
                  <ion-list *ngIf="!!!programSet.hideDetails">
                    <ion-item>
                      <!--<ion-label stacked>Program Name</ion-label>-->
                      <ion-select [formControl]="programSet.controls['programName']">
                        <ion-option *ngFor="let programName of zlmForm.controls['availablePrograms'].value" [value]="programName">{{programName}}</ion-option>
                      </ion-select>
                    </ion-item>
                    <dynamic-input *ngFor="let input of objectType.keys(programSet.controls.inputs.controls)"
                                   [name]="input"
                                   [inputForm]="programSet.controls.inputs.controls[input]"
                                   [controlType]="helperProvider.resolveControlTypeForInput(programSet.controls.inputs.controls[input].value)"></dynamic-input>

                  </ion-list>
                </ion-item>
              </ion-list>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col align-items-center style="text-align: center;">
        <ion-card>
          <ion-card-content>
            <ion-card-title>
              Zones
            </ion-card-title>
            <p>
              <ion-list>
                <ion-item padding *ngFor="let zone of zlmForm.controls.zones.controls">
                  <h2 (click)="toggleDetails(zone)">
                    {{zone.value.name}} <ion-icon [name]="!zone.hideDetails ? 'ios-arrow-dropup' : 'ios-arrow-dropdown'" item-right></ion-icon>
                  </h2>
                  <ion-list *ngIf="!!!zone.hideDetails">
                    <ion-item>
                      Program: {{zone.controls['programName'].value}}
                      <!--<ion-select [formControl]="zone.controls['programName']">
                        <ion-option *ngFor="let programName of zlmForm.controls['availablePrograms'].value" [value]="programName">{{programName}}</ion-option>
                      </ion-select>-->
                    </ion-item>
                    <dynamic-input *ngFor="let input of objectType.keys(zone.controls.inputs.controls)"
                                   [name]="input"
                                   [inputForm]="zone.controls.inputs.controls[input]"
                                   [controlType]="helperProvider.resolveControlTypeForInput(zone.controls.inputs.controls[input].value)"></dynamic-input>
                  </ion-list>
                </ion-item>
              </ion-list>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
