<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ZoneLighting</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding *ngIf="this.zlmForm">
  <ion-grid>
    <ion-row>
      <ion-col align-items-center style="text-align: center;">
        <!--<form [formGroup]="form" *ngIf="this.form">-->
        <ion-card>
          <ion-card-content>
            <ion-card-title>
              ProgramSets
            </ion-card-title>
            <p>
              <ion-list>
                <ion-item padding *ngFor="let programSet of zlmForm.controls.programSets.controls" (click)="toggleDetails(programSet)">
                  <ion-icon name="ios-arrow-dropdown" item-right></ion-icon>
                  <ion-label>
                    {{programSet.value.name}}
                  </ion-label>
                  <div item-content *ngIf="programSet.showDetails">
                    <ion-list>
                      <dynamic-input *ngFor="let input of objectType.keys(programSet.controls.inputs.controls)"
                                     [name]="input"
                                     [inputForm]="programSet.controls.inputs.controls[input]"
                                     [controlType]="helperProvider.resolveControlTypeForInput(programSet.controls.inputs.controls[input].value)"></dynamic-input>
                    </ion-list>
                  </div>
                </ion-item>
              </ion-list>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col align-items-center style="text-align: center;">
        <ion-card>
          <ion-card-content>
            <ion-card-title>
              Zones
            </ion-card-title>
            <p>
              These are the fucking zones.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
