<ion-item [ngSwitch]="controlType">

  <ion-label *ngSwitchCase="controlTypeEnum.Range" floating>{{name}}</ion-label>
  <zl-range item-content *ngSwitchCase="controlTypeEnum.Range" style="width:100%"
            [min]="getScaledValue(inputForm.controls['min'].value)"
            [max]="getScaledValue(inputForm.controls['max'].value)"
            [control]="inputForm.controls['value']"
            [type]="type">
  </zl-range>

  <ion-label *ngSwitchCase="controlTypeEnum.Text" floating>{{name}}</ion-label>
  <ion-input *ngSwitchCase="controlTypeEnum.Text"
             [formControl]="inputForm.controls['value']">
  </ion-input>

  <ion-label *ngSwitchCase="controlTypeEnum.Number" floating>{{name}}</ion-label>
  <ion-input *ngSwitchCase="controlTypeEnum.Number"
             type="number"
             [formControl]="inputForm.controls['value']"
             [min]="!!inputForm.controls['min'] ? inputForm.controls['min'].value : 0"
             [max]="!!inputForm.controls['max'] ? inputForm.controls['max'].value : 100"
             step="1">
  </ion-input>

  <ion-label *ngSwitchCase="controlTypeEnum.Decimal" floating>{{name}}</ion-label>
  <ion-input *ngSwitchCase="controlTypeEnum.Decimal"
             type="number"
             [formControl]="inputForm.controls['value']"
             [min]="!!inputForm.controls['min'] ? inputForm.controls['min'].value : 0"
             [max]="!!inputForm.controls['max'] ? inputForm.controls['max'].value : 100"
             step="0.05">
  </ion-input>

  <ion-label *ngSwitchCase="controlTypeEnum.Toggle">{{name}}</ion-label>
  <ion-toggle *ngSwitchCase="controlTypeEnum.Toggle"
              [formControl]="inputForm.controls['value']">
  </ion-toggle>

  <ion-label *ngSwitchCase="controlTypeEnum.Dropdown">{{name}}</ion-label>
  <ion-select *ngSwitchCase="controlTypeEnum.Dropdown"
              [formControl]="inputForm.controls['value']">
    <ion-option *ngFor="let enum of inputForm.controls['options'].value" [value]="enum">{{enum}}</ion-option>
  </ion-select>

</ion-item>