<!--<div [ngSwitch]="controlType">
  <ion-range *ngSwitchCase="controlTypeEnum.Range"
             [min]="inputForm.controls['min'].value"
             [max]="inputForm.controls['max'].value"
             [formControl]="inputForm.controls['value']"
             color="danger" pin="true">
  </ion-range>
</div>-->


<ion-item [ngSwitch]="controlType">
  
  <ion-label *ngSwitchCase="controlTypeEnum.Range">{{name}}</ion-label>
  <ion-range *ngSwitchCase="controlTypeEnum.Range"
             [min]="inputForm.controls['min'].value"
             [max]="inputForm.controls['max'].value"
             [formControl]="inputForm.controls['value']"
             color="danger" pin="true">
  </ion-range>

  <ion-label *ngSwitchCase="controlTypeEnum.Text" floating>{{name}}</ion-label>
  <ion-input *ngSwitchCase="controlTypeEnum.Text"
             [formControl]="inputForm.controls['value']">
  </ion-input>
  
  <ion-label *ngSwitchCase="controlTypeEnum.Number" floating>{{name}}</ion-label>
  <ion-input *ngSwitchCase="controlTypeEnum.Number"
             type="number"
             [formControl]="inputForm.controls['value']"
             [min]="!!inputForm.controls['min'] ? inputForm.controls['min'].value : 0"
             [max]="!!inputForm.controls['max'] ? inputForm.controls['max'].value : 100"
             step="1">
  </ion-input>
  
  <ion-label *ngSwitchCase="controlTypeEnum.Decimal" floating>{{name}}</ion-label>
  <ion-input *ngSwitchCase="controlTypeEnum.Decimal"
             type="number"
             [formControl]="inputForm.controls['value']"
             [min]="!!inputForm.controls['min'] ? inputForm.controls['min'].value : 0"
             [max]="!!inputForm.controls['max'] ? inputForm.controls['max'].value : 100"
             step="0.05">
  </ion-input>
  
  <ion-label *ngSwitchCase="controlTypeEnum.Toggle">{{name}}</ion-label>
  <ion-toggle *ngSwitchCase="controlTypeEnum.Toggle"
              [formControl]="inputForm.controls['value']">
  </ion-toggle>

</ion-item>